doctype 5
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Mocha Spec Runner
    link(rel="stylesheet", href="bower_components/mocha/mocha.css")
  body
    #mocha
    script(src="bower_components/mocha/mocha.js")
    // assertion framework
    script(src="bower_components/chai/chai.js")
    script(src="bower_components/sinon-chai/lib/sinon-chai.js")
    script(src="bower_components/sinonjs/sinon.js")
    script(src="test/config.js")

    script(src="bower_components/lodash/dist/lodash.js")
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/underscore.string/lib/underscore.string.js")
    script(src="bower_components/angular-sanitize/angular-sanitize.js")
    script(src="bower_components/angular-ui-router/release/angular-ui-router.js")
    script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="bower_components/angular-mocks/angular-mocks.js")

    script(src="scripts/html-domparser.js")
    script(src="scripts/utils.js")
    script(src="scripts/robot.js")

    script(src="scripts/app.js")
    script(src="scripts/route.js")

    script(src="scripts/services/config.js")
    script(src="scripts/services/site.js")

    script(src="scripts/controllers/main.js")
    script(src="scripts/controllers/site.js")
    script(src="scripts/controllers/work.js")

    script(src="test/mock/chrome.js")
    script(src="test/spec/robot.js")
    script(src="test/spec/utils.js")
    script(src="test/spec/services/config.js")

    script(src="test/run.js")
