doctype 5
html(ng-app="chromeRobotApp")
  head
    meta(charset="utf-8")
    title
    meta(name="viewport", content="width=device-width")
    link(href="styles/main.css", rel="stylesheet")
  body
    .container(ng-view="")
    script(src="bower_components/jquery/jquery.js")
    script(src="bower_components/angular/angular.js")
    // build:js scripts/modules.js
    script(src="bower_components/angular-resource/angular-resource.js")
    script(src="bower_components/angular-cookies/angular-cookies.js")
    script(src="bower_components/angular-sanitize/angular-sanitize.js")
    // endbuild
    // build:js scripts/scripts.js
    script(src="scripts/app.js")
    script(src="scripts/controllers/main.js")
    // endbuild
