doctype 5
html(ng-app="chromeRobotApp", ng-csp="")
  head
    meta(charset="utf-8")
    title {{title}}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    // build:css({.tmp,app}) styles/app.css
    link(href="styles/main.css", rel="stylesheet")
    link(href="styles/work.css", rel="stylesheet")
    // endbuild
  body
    header.header.navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="#/") Chrome Robot
          ul.nav
            li.divider-vertical
            li
              a(href="#/")
                i.icon-home
                |  Home
            li.divider-vertical
            li
              a(href="#/options")
                i.icon-wrench
                |  Options
            li.divider-vertical
            li
              a(href="#/works")
                i.icon-tasks
                |  Works
            li.divider-vertical
            li
              a(ui-sref="sites.list")
                i.icon-th-large
                |  Sites
            li.divider-vertical
            li
              a#test(href="test.html")
                i.icon-flag
                |  Test
            li.divider-vertical
    .container
      .row(ui-view)
    footer.footer
      hr
      .container
        p Super-powered by Dejian Xu ©2013
    // build:js({.tmp,app}) scripts/modules.js
    script(src="bower_components/lodash/dist/lodash.js")
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/underscore.string/lib/underscore.string.js")
    script(src="bower_components/angular-sanitize/angular-sanitize.js")
    script(src="bower_components/angular-ui-router/release/angular-ui-router.js")
    script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="scripts/html-domparser.js")
    // endbuild
    // build:js({.tmp,app}) scripts/app.js
    script(src="scripts/app.js")
    script(src="scripts/route.js")
    // endbuild
    // build:js({.tmp,app}) scripts/services.js
    script(src="scripts/services/config.js")
    script(src="scripts/services/site.js")
    // endbuild
    // build:js({.tmp,app}) scripts/controllers.js
    script(src="scripts/controllers/main.js")
    script(src="scripts/controllers/site.js")
    script(src="scripts/controllers/work.js")
    // endbuild
