doctype 5
html
  head
    link(href="styles/main.css", rel="stylesheet")
    // build:js scripts/options.js
    script(src="bower_components/async/lib/async.js")
    script(src="scripts/options.js")
    // endbuild
  body
    //- CHROME EXTENSION OPTION
    h1 options here
