doctype 5
html
  head
    link(href="styles/main.css", rel="stylesheet")
    // build:js scripts/options.js
    script(src="scripts/options.coffee")
    // endbuild
  body
    //- CHROME EXTENSION OPTION
