doctype 5
html
  head
    title Chrome Robot Console
    link(href="styles/main.css", rel="stylesheet")
    // build:js scripts/console.js
    script(src="scripts/console.coffee")
    // endbuild
  body
    img(src="icon128.png", align="right")
    h1 Chrome Robot Console

    form
      input#pauseSpider(type="button", value="Pause")
      input#stopSpider(type="button", value="Stop")
    table
      tr
        td Starting on:
        td#startingOn
      tr
        td Restrict to:
        td#restrictTo
      tr
        td Queue:
        td#queue 0
      tr
        td Status:
        td#status Initializing...


    table#resultsTable
      colgroup
        col(style="width: 32%")
        col(style="width: 32%")
        col(style="width: 32%")
      thead
        tr
          th.nocase Requested URL
          th.nocase Returned URL
          th.nocase Referrer
      tbody#resultbody
