.container
  .row
    .span2 Site Name:
    .span9
      input.span5(ng-model="site.name", type="text", placeholder="site name")
  .row
    .span2 Start Url:
    .span9
      ul
        li(ng-repeat="seed in site.seed", ng-bind="seed")
      input.span5(ng-model="new_seed", type="url",
      placeholder="http://your.site.url.com/")
      button.btn(type='button', ng-click='add_seed(site, new_seed)') Add
  .row
    .span2 list page like:
    .span9
      ul
        li(ng-repeat="re in site.list_regexp", ng-bind="re")
      input.span5(ng-model="list_re", type="text",
      placeholder="list page url pattern")
      button.btn(type="button", ng-click="add_list_regex(site, list_re)") Add
  .row
    .span2 info page like:
    .span9
      ul
        li(ng-repeat="re in site.info_regexp", ng-bind="re")
      input.span5(ng-model="info_re", type="text",
      placeholder="info page url pattern")
      button.btn(type="button", ng-click="add_info_regex(site, info_re)") Add
  .row
    .offset2
      label
        input(type="checkbox", ng-model="site.noquery")
        |  Avoid links with arguments.
        small (e.g.&nbsp;page?foo=bar)
  .row
    .offset2
      button.btn.btn-primary(type='button', ng-click='add_site(site)') Add
      button.btn(type='button', ng-click='cancel()') Cancel
