a.btn(ui-sref="sites.new") new site

table.table.table-striped.table-hover
  caption {{title}}
  thead
    tr
      th #
      th Site
      th Seed
      th Status
      th Op
  tbody
    tr(ng-repeat="site in sites", ng-click="detail(site)")
      td {{$index + 1}}
      td {{site.name}}
      td {{site.seed}}
      td
      td
