ul.nav.nav-tabs
  li.active
    a List
  li
    a(ui-sref="^.new")
      i.icon-plus-sign
      | New Site

table.table.table-striped.table-hover
  caption {{title}}
  thead
    tr
      th #
      th Site
      th Seed
      th Status
      th Op
  tbody
    tr(ng-repeat="site in sites")
      td(ng-click="detail(site)") {{$index + 1}}
      td(ng-click="detail(site)")
        img(ng-show="site.ico", ng-src="{{site.ico}}", alt="{{site.name}}")
        | {{site.name}}
      td(ng-click="detail(site)") {{site.seed.join(',')}}
      td(ng-switch="site.stop")
        span(ng-switch-when="true") Pause
        span(ng-switch-default) Running
      td
        button.btn.btn-warning(type='button', ng-click='stop(site)',
        ng-hide="site.stop") Pause
        button.btn.btn-info(type='button', ng-click='stop(site)',
        ng-show="site.stop") Resume
        button.btn(type='button', ng-click='detail(site)') Detail
