img(src="images/icon-128.png", align="right")
h1 Chrome Robot Work

button.btn(type='button', ng-click='restart()') Restart
.btn-group
  button.btn(type='button', ng-click='pause()', ng-model="status",
  btn-radio="'pause'") Pause
  button.btn(type='button', ng-click='resume()', ng-model="status",
  btn-radio="'running'") Running

table.table.table-hover
  thead
    tr
      th Requested URL
      th Returned URL
      th Referrer
      th Status
  tbody
    tr(ng-repeat="(url,req) in jobs")
      td {{req.url|limitTo:255}}
      td {{req.get_url_count}}
      td {{req.referrer|limitTo:255}}
      td {{req.status}}
