img(src="images/icon-128.png", align="right")
h1 {{title}}

button.btn(type="button", ng-model="btn.start", ng-click="start()")
  {{btn.start}}
button.btn(type="button", ng-model="btn.pause", ng-click="pause()") {{btn.pause}}
button.btn(type="button", ng-model="btn.stop", ng-click="stop()") {{btn.stop}}
table
  tr
    td Starting on:
    td {{site.seed}}
  tr
    td Restrict to:
    td {{site.regex}}
  tr
    td Queue:
    td {{site.queue}}
  tr
    td Status:
    td {{site.status}}

table.table.table-hover
  thead
    tr
      th Requested URL
      th Returned URL
      th Referrer
      th Status
  tbody
    tr(ng-repeat="(url,req) in jobs")
      td {{req.url}}
      td {{req.get_url_count}}
      td {{req.referrer}}
      td {{req.status}}
